---
- name: Remove nagios
  become: yes
  apt: >
    name: "{{ item }}"
    state: absent
    purge: yes
    force: yes
  with_items:
    - wget
    - apache2
    - openssl
    - perl
    - gcc
    - php5.6
    - libssl-dev
    - make
    - php-gd
    - libgd-dev
    - libapache2-mod-php
    - libperl-dev
    - build-essential
    - daemon
    - apache2-utils
    - unzip
- name: Remove nagios
  file:
     path: /tmp/nagios-4.4.3
     state: absent
