---
- name: Remove MySQL
  become: yes
  apt: >
    name: "{{ item }}"
    state: absent
    purge: yes
    force: yes
  with_items:
    - libaio1
    - python-mysqldb
    - python3-mysqldb
- name: Remove MySQL
  file:
     path: /usr/local/mysql
     state: absent
