## hostgroup definitions ##
define hostgroup{
        hostgroup_name  comm-servers
        alias           Comm Servers
        }
define hostgroup{
        hostgroup_name  manage-servers
        alias           Manage Servers
        }
